.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 30%;
    margin: auto;
}

.add{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    width: 20%;
    margin: auto;
}